__pycache__
*.py[codz]
*$py.class

# C extensions
*.so

# DB
db.sqlite3
db.sqlite3-journal

# Environments
.venv

# Django settings 
dev_gareth.py

# Ruff stuff:
.ruff_cache/

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Node stuff

# Mac stuff
.DS_Store

node_modules

